@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500;700;800&family=Roboto:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

navbar {
  height: 100px;
  background: rgb(190, 190, 190);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

button {
  font-weight: 600;
  background:#1E0200;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: calc(35px + 3vw);
  font-size: calc(8px + 0.2vw);
  margin-right: 20px;
}

#homeImg {
  width: 100vw;
  height: 200px;
  object-fit: cover;
}

.mainTitle {
  text-align: center;
  color: rgb(21, 1, 1);
  margin-left: 20px;
  font-size: calc(4px + 2vw);
  font-weight: 700;
}

.statement {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 48px 24px 0px 24px;
}

.statementText {
  width: 50vw;
}