body {
  margin: 0;
}

navbar {
  height: 80px;
  background: rgba(124, 234, 124, 0.357);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  font-weight: 600;
  background:rgba(234, 124, 183, 0.555);
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 80px;
}